body{
background:url(maxresdefault.jpg);
background-repeat: no-repeat;
color:white;
padding:10px;
font-size:20px;

}
a:hover { 
    background-color: yellow;
	target-name:new;
    target-new:tab;
}
a{
	float:right;
	color:gray;
}